body{
    font-family: Arial;
    text-align: center;
}
h2{
    text-align: center;
}
.Column1 {
   
    flex: 33.33%;
    min-height: 100vh;
    padding: 10px;
}
.column2 {
    
    flex: 33.33%;
    min-height: 100vh;
    padding: 10px;
}
.column3 {
    
    flex: 33.33%;
    min-height: 100vh;
    padding: 10px;
}
.flex-container{
    display: flex;
    width: 100%;
    padding: 0;
}

.selected {
    stroke: orange;
    stroke-width: 2;
    opacity: 100%;
}

.setosa {
	opacity: 50%;
}

.versicolor {
	opacity: 50%;
}

.virginica {
	opacity: 50%;
}